---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign formats = page.formats | split: ' ' %}
{% assign categories = page.categories | join: '' %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.original_title %}
      <h2 class="post-title" style="font-size: x-large; font-style: italic; color: #cecfce">{{ page.original_title }}</h2>
    {% endif %}
    {% if page.author or page.illustrator or page.stars or page.wikipedia %}
      <p class="post-meta">
        <b>Rating:</b>
        {% assign full_stars = page.stars | floor %}
        {% assign half_star = page.stars | minus: full_stars %}
        {% assign empty_stars = 5 | minus: full_stars %}
        {% if half_star > 0 %}
          {% assign empty_stars = empty_stars | minus: 1 %}
        {% endif %}
        {% for i in (1..full_stars) -%}
          <i class="fa-solid fa-star fa-sm"></i>
        {%- endfor -%}
        {%- if half_star > 0 %}<i class="fa-solid fa-star-half-stroke fa-sm"></i>{% endif -%}
        {%- for i in (1..empty_stars) -%}
          <i class="fa-regular fa-star fa-sm"></i>
        {%- endfor -%}
    {% endif %}
    {% if page.wikipedia %}
      {% if page.started or page.finished or page.stars %}
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      {% endif %}
      <a target="_blank" href="{{ page.wikipedia }}"><i class="fa-brands fa-wikipedia-w"></i>ikipedia </a>
    {% endif %}
    {% if year %}
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <a href="{{ year | prepend: '/animes/' | relative_url }}"> <i class="fa-solid fa-calendar fa-sm"></i> {{ year }}</a>
    {% endif %}
    <br>
    {% if page.author %}
      <b>Written by:</b> {{ page.author }}
    {% endif %}
    {% if page.illustrator %}
      &nbsp;&middot;&nbsp;
      <b>Illustrated by:</b> {{ page.illustrator }}
    {% endif %}
    {% if page.stars %}
      {% if page.released or page.finished %}
        {% comment %} &nbsp;&nbsp;&middot;&nbsp;&nbsp; {% endcomment %}
      {% endif %}

      </p>
    {% endif %}

    {% if page.released or page.ended or page.started or page.finished %}
      <p class="post-meta">
        {% if page.started and page.ended %}
          <b>Manga</b> &nbsp;
        {%- endif %}
        {% if page.started %}
          <i class="fa-solid fa-play fa-sm" style="color: var(--global-tip-block) !important"></i> <em>{{ page.started }}</em>
        {% endif %}
        {% if page.ended %}
          {% if page.started %}
            &nbsp;&middot;&nbsp;
          {% endif %}
          <i class="fa-solid fa-stop fa-sm" style="color: #e56565 !important"></i> <em>{{ page.ended }}</em>
        {% endif %}
        {% if page.volumes %}
          &nbsp;&middot;&nbsp; <b>Volumes:</b>&nbsp; {{ page.volumes }}
          {% comment %} &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp; {% endcomment %}
        {% endif %}
        <br>
        <b>Anime</b> &nbsp;
        {% if page.released %}
          <i class="fa-solid fa-play fa-sm" style="color: var(--global-tip-block) !important"></i> <em>{{ page.released }}</em>
        {% endif %}
        {% if page.finished %}
          {% if page.released %}
            &nbsp;&middot;&nbsp;
          {% endif %}
          <i class="fa-solid fa-stop fa-sm" style="color: #e56565 !important"></i> <em>{{ page.finished }}</em>
        {% endif %}
        {% if page.seasons %}
          &nbsp;&middot;&nbsp; <b>Seasons:</b> {{ page.seasons }}
        {% endif %}

        {% if page.episodes %}
          &nbsp;&middot;&nbsp; <b>Episodes:</b> {{ page.episodes }}
        {% endif %}
      </p>
    {% endif %}
    <p class="post-tags">
      {% comment %} <b>Watched on:</b>&nbsp;&nbsp; {% endcomment %}
      {% if tags != '' %}
        {% comment %} &nbsp;&nbsp;&middot;&nbsp;&nbsp; {% endcomment %}
        {% for tag in page.tags %}
          <a href="{{ tag | slugify | prepend: '/animes/tag/' | relative_url }}"> <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}</a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if categories != '' %}
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        {% for category in page.categories %}
          <a href="{{ category | slugify | prepend: '/animes/category/' | relative_url }}"> <i class="fa-solid fa-tag fa-sm"></i> {{ category }}</a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if page.formats %}
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        {% for format in formats %}
          <a href="{{ format | slugify | prepend: '/animes/format/' | relative_url }}">
            <i class="fa-solid fa-clapperboard fa-sm"></i> {{ format -}}
          </a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
    <hr>
    <p>{{ content }}</p>
  </header>

  <article>
    {% if content == '' %}
      <figure class="empty-review">
        {% if page.cover %}
          <img class="empty-review-cover" alt="{{ page.title }} cover" src="{{ site.baseurl }}/{{ page.cover }}">
          <figcaption class="empty-review-caption">
            Poster of <em>{{ page.title }}</em>
          </figcaption>
        {% endif %}
      </figure>
      {% assign status = page.status | upcase %}
      <div class="clearfix">
        <h4>{{ status }}</h4>
      </div>
    {% else %}
      <figure>
        {% if page.cover %}
          <img alt="{{ page.title }} cover" src="{{ site.baseurl }}/{{ page.cover }}">
          <figcaption>
            Poster of <em>{{ page.title }}</em>
          </figcaption>
        {% endif %}
      </figure>
      <br class="mobile-break" clear="right">
      <h4>
        {% if page.start %} Start Date: {{ page.start | date: '%-d %B %Y' }}. {% endif %}
        {% if page.end %} End Date: {{ page.end | date: '%-d %B %Y' }}. {% endif %}
      </h4>
    {% endif %}
  </article>

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>

<style>
      .post {
        display: flex;
        gap: 20px;
      }

      .post-header {
        flex: 0 0 65%;
        order: 2;
      }

      .post article {
        flex: 0 0 35%;
        order: 1;
      }

      figure {
        float: none;
        width: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;

      }
      figure  > img {

           vertical-align: top;
           display: block;
           margin-right: 0px;
           margin-left: 0px;
           padding: 0px;

      }
      figure figcaption {

        display: block;
        text-align: center;
        width: 250px;
        margin: 0 0 0 -7px;
      }

      @media screen and (min-width: 600px)  {

        .empty-review{
          float: left;
          display: block; /* in-line block; */
          margin: 0px 0px 0px 0px;  /* adjust as needed */
          padding: 0px 0px 0px 20px;
         /* top right bottom left */
          }

         .empty-review-caption {
                  text-align: center;
                  width: 350px;
                  }

          .empty-review-cover {
              width: 350px;
              vertical-align: top;
              padding-right: 40px;
              }

          figure {

                float: right;
                display: inline-block; /* inline-block */
                margin: 0px 0px 0px 0px;  /* adjust as needed */
                padding: 0px 0px 0px 20px;
               /* top right bottom left */
              }

          figure img {
                  height: 480px;
                  vertical-align: top;

                }

            figure figcaption {
              text-align: center;
              width: 350px;
              margin: 0 0 0 -7px;
              }

          .mobile-break { display: none; }

  /* =Blockquote
  -------------------------------------------------------------- */
  blockquote {

      position: relative;
      margin: 0px;
      display: table;

  }
  blockquote:before, blockquote:after {

   /* properties to format the block quotes /*

  }
  blockquote:before {
      top: 0;
      left: 0;


  }
  blockquote:after {
      top: 0;
      right: 0;

  }
</style>
